<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NFe.Components.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <NFe.Components.Properties.Settings>
      <setting name="NFe_Components_br_com_etransparencia_nfe_varginha_p_ws_nfe" serializeAs="String">
        <value>https://nfe.etransparencia.com.br/mg.varginha/webservice/aws_nfe.aspx</value>
      </setting>
      <setting name="NFe_Components_br_com_etransparencia_nfehomologacao_varginha_h_ws_nfe" serializeAs="String">
        <value>https://nfehomologacao.etransparencia.com.br/mg.varginha/webservice/aws_nfe.aspx</value>
      </setting>
      <setting name="NFe_Components_br_com_etransparencia_nfe_p_ws_nfe" serializeAs="String">
        <value>https://nfe.etransparencia.com.br/mg.varginha/webservice/aws_nfe.aspx</value>
      </setting>
      <setting name="NFe_Components_PArarasSP_NfseService" serializeAs="String">
        <value>http://189.56.68.34:8080/ws_araras/nfseservice.svc</value>
      </setting>
      <setting name="NFe_Components_HTangaraDaSerraMT_NfseWSService" serializeAs="String">
        <value>http://tangaradaserra.prefeitura.rlz.com.br:8070/webservice/nfse</value>
      </setting>
      <setting name="NFe_Components_PTangaraDaSerraMT_NfseWSService" serializeAs="String">
        <value>https://cidadaoonline.tangaradaserra.mt.gov.br/webservice/nfse</value>
      </setting>
      <setting name="NFe_Components_Castanhal_NFSeIntegracao" serializeAs="String">
        <value>http://transparencia.castanhal.pa.gov.br:8086/NFSe.Portal.Integracao/Services.svc</value>
      </setting>
      <setting name="NFe_Components_PLinharesES_RpsServiceService" serializeAs="String">
        <value>https://notafiscal.linhares.es.gov.br:80/el-nfse/RpsService</value>
      </setting>
      <setting name="NFe_Components_br_gov_pr_londrina_testeiss_h_ModuloEmissorNFSe" serializeAs="String">
        <value>http://testeiss.londrina.pr.gov.br/ws/v1_03/sigiss_ws.php</value>
      </setting>
      <setting name="NFe_Components_br_gov_pr_londrina_iss_ModuloEmissorNFSe" serializeAs="String">
        <value>https://iss.londrina.pr.gov.br:443/ws/v1_03/sigiss_ws.php</value>
      </setting>
      <setting name="NFe_Components_HPetropolisRJ_WebService_SigISS" serializeAs="String">
        <value>https://testepetropolis.sigiss.com.br:443/testepetropolis/ws/sigiss_ws.php</value>
      </setting>
      <setting name="NFe_Components_PPetropolisRJ_WebService_SigISS" serializeAs="String">
        <value>https://petropolis.sigiss.com.br:443/petropolis/ws/sigiss_ws.php</value>
      </setting>
      <setting name="NFe_Components_br_net_cosmorama_fiorilli_p_IssWebWS" serializeAs="String">
        <value>http://localhost:8080/IssWeb-ejb/IssWebWS/IssWebWS</value>
      </setting>
    </NFe.Components.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Xml" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.10" newVersion="9.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
