<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.6.2" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.Cryptography" version="10.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.Memory" version="10.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.TimeProvider" version="10.0.0" targetFramework="net481" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging" version="10.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="10.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.0" targetFramework="net481" />
  <package id="Microsoft.Identity.Abstractions" version="9.5.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.14.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="8.14.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Logging" version="8.14.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Tokens" version="8.14.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net481" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net481" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.0" targetFramework="net481" />
  <package id="System.Formats.Asn1" version="10.0.0" targetFramework="net481" />
  <package id="System.IdentityModel.Tokens.Jwt" version="8.14.0" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.Pipelines" version="10.0.0" targetFramework="net481" />
  <package id="System.Memory" version="4.6.3" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net481" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net481" />
  <package id="System.Security.Cryptography.Cng" version="5.0.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Xml" version="10.0.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="10.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="10.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net481" />
  <package id="Topshelf" version="4.3.0" targetFramework="net481" />
  <package id="Unimake.AuthServer" version="20250707.1650.48" targetFramework="net481" />
  <package id="Unimake.Cryptography" version="20250912.1810.37" targetFramework="net481" />
  <package id="Unimake.DFe" version="20251114.1129.60" targetFramework="net481" />
  <package id="Unimake.EBank.Primitives" version="20251112.1820.34" targetFramework="net481" />
  <package id="Unimake.EBank.Solutions" version="20251114.208.14" targetFramework="net481" />
  <package id="Unimake.Extensions" version="20250912.1810.37" targetFramework="net481" />
  <package id="Unimake.MessageBroker" version="20251016.36.37" targetFramework="net481" />
  <package id="Unimake.MessageBroker.Primitives" version="20250623.1022.24" targetFramework="net481" />
  <package id="Unimake.Primitives" version="20250912.1810.37" targetFramework="net481" />
  <package id="Unimake.Security.Platform" version="20230706.1027.33" targetFramework="net481" />
  <package id="Unimake.Utils" version="20250912.1810.37" targetFramework="net481" />
</packages>